spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rideapp?serverTimezone=Asia/Kolkata
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Kolkata

  sql:
    init:
      mode: always

  redis:
    host: localhost
    port: 6379

management:
  endpoints:
    web:
      exposure:
        include: "*"